<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <img src="{{image}}"/>
        <h3>{{title}}</h3>
        <p>by {{author}}</p>
        {{#if summary}}
            <h5>Summary</h5>
            <p>{{{summary}}}</p>
        {{/if}}
        <h5>Opinion</h5>
        <p>{{{opinion}}}</p>
    </div>
    <div class="col">
    </div>
</div>

